* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.header {
  background-color: #1e1e1e;
}

.header p {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 22px;
  padding: 1rem 0;
  margin-left: 10%;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: calc(100vh - 80px);
}

.not-found-container {
  max-width: 40%;
}

.not-found-content {
  display: flex;
  flex-direction: column;
  max-width: 80%;
}

.not-found-content h1 {
  font-size: 3rem;
  color: #fe8100;
  font-weight: 700;
}

.not-found-content h2 {
  word-wrap: break-word;
  font-size: 4.5rem;
  color: #343434;
  font-weight: 900;
}

.not-found-content p {
  font-size: 1.25rem;
  color: #848383;
  margin-bottom: 2rem;
}

.btn-back {
  text-align: center;
  width: 90%;
  background-color: #fe8100;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 700;
  border-radius: 50px;
  padding: 1rem 0;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.contact-social-media {
  position: absolute;
  bottom: 4%;
}

.contact-social-media a {
  margin-right: 10px;
}

.contact-social-media a img {
  transition: transform 0.3s ease;
}

.contact-social-media a img:hover {
  transform: scale(1.1);
}

.btn-back:hover {
  background-color: #e66f00;
}

.vertical-line {
  width: 2px;
  height: 80vh;
  background-color: #ddd;
}

.not-found-image img {
  height: auto;
}