* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}



.header {
  background-color: #1e1e1e;

}

.header p {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 22px;
  padding: 1rem 0;
  margin-left: 10%;
}

.login-container {
  display: flex;
  justify-content: center;
  height: 80vh;
  justify-content: space-evenly;
  margin-top: 2.3rem;

}

.login-form {
   /* padding: 70px 40px 60px 40px; */
   padding: 3rem 2rem 3rem 2rem;
    background-color: #fbfbfb;
    border: 1px solid #ddd;
    border-radius: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

.login-form h1 {
    width: 80%;
    font-size: 1.4rem;
    font-weight: 700;
    color: #333;
}



.btn-login {
    background-color: #fe8100;
    padding: 15px 0;
    width: 100%;

    border-radius: 50px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.divider-line {
  border: none;
  border-top: 1px solid #ddd;
  margin: 2vh 0;
  width: 100%; 
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 3rem;
}


#email,
#password {
    font-size: 16px;
    color: #333;
    background-color: #f2f2f4;
    width: 100%;
    padding: 1rem 2rem 1rem 2rem;
  /*  padding: 15px 35px 15px 35px; */
    border: none;
    border-radius: 50px;
    outline: none;
}

.signup-link {

    font-size: 14px;
    color: #333;

    text-align: center;
}

.signup-link a {
    color: #fe8100;
    text-decoration: none;
    font-weight: 700;

}

.signup-link a:hover {
  text-decoration: underline;
}

.signup-icon {
  display: block; 
  margin-left: 245px;
  width: 10px;
  height: 10px;
}

.vertical-line{
  width: 1px;
  height: 80vh;
  background-color: #ddd;
}

.welcome-section {
  position: relative;



}

.welcome-image {
  height: 80vh;

}

.welcome-section h2 {
  position: absolute;
  font-size: 32px;
  width: 350px;
  top: 5%;
  left: 5%;
  font-weight: 400;
  color: #E9ECF2;
}